*:focus
{
    outline: none !important;
    box-shadow: none !important;
}

.btn-primary:focus{
  background-color: transparent;
  border-color: unset;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
  background: none;
}
